<html>
<head>
<title>购物车 随心购</title>
<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<meta http-equiv=Content-Language content=zh-CN>
<link href="/css/new_cart.css" rel="stylesheet" type="text/css">
<link href="/css/global/header01.css" rel="stylesheet" type="text/css">
<script language=JavaScript src="/js/FoshanRen.js"></SCRIPT>
<script language="JavaScript">
	function numericFormat(strNumber){   
	  var newPar=/^[1-9]\d{0,3}$/;
	  return newPar.test(strNumber);
	} 

	function getInputsByname(name, etype){
		var inputs = document.getElementsByTagName("input");
		var texts = new Array();
		var y = 0;
		for (var i = 0; i < inputs.length; i++) {
		  if (inputs[i].type == etype && inputs[i].name!=null && inputs[i].name.substring(0, name.length) == name) {
				texts[y] = inputs[i];
				y++;
			}
		}
		return texts;
	}
	function settleAccounts(){
		if(validateAmount()){		
			var form = document.forms["buycart"];
			form.action="/cart/settleaccount.do";
			form.submit();
		}
	}

	function modifyAmount(){
		if(validateAmount()){		
			var form = document.forms["buycart"];
			form.action="/cart/update.do";
			form.submit();
		}
	}

	/** 验证购买数量字段 **/
	function validateAmount(){
		var amounts = getInputsByname("amount_", "text");
		if(amounts.length==0){
			alert("您还没有购买商品");
			return false;
		}else{
			for (var i = 0; i < amounts.length; i++) {
				var amount = amounts[i];
				if(amount.value==null || amount.value.trim()==""){
					alert("\n您购买的商品中,有的商品购买数量为空,请填写购买数量");
					amount.focus();
					return false;
				}else if(amount.value=="0"){
					alert("\n您购买的商品中,有的商品购买数量为0,如果您不需要该商品,可以删除它");
					amount.select();
					return false;
				}else if(!numericFormat(amount.value)){
					alert("\n购买数量含有非数字数据,请更正");
					amount.select();
					return false;
				}
			}
		}
		return true;
	}
</script>
</head>
<body>
	#parse("page/share/Head.vm")
<br>
<table cellSpacing=0 cellPadding=5 width="98%" border="0" align="center">
	  <tr>
	    <td>
		     <table cellSpacing=0 cellPadding=0 width="96%" border=0>
		      <tbody>
		        <tr>
		          <td width="24%"><img height=31 src="/images/buy/shop-cart-header-blue.gif" width="218" border=0></td>
		          <td width="34%">如果您修改了商品数量，请点击 
		             <img style="cursor: hand; " alt="修改数量" src="/images/buy/update-t-sm.gif" value="修改数量" border="0" onClick="javascript:modifyAmount()">
		          </td>
		          <td width="14%" align="left"><a href="/cart/clear.do"><img style="cursor;" alt="清空购物车" src="/images/buy/az-empty-shoppingcard.gif" border="0"></a></td>
		          <td width="15%" align=left><a href="/shop/product/list.do"><img src="/images/buy/as-s-continus.gif" width="116" height="22" border="0"></a></td>
		          <td width="13%" align=right>
		          	<img style="cursor;" src="/images/buy/az-by-split.gif" width="116" height="22" onClick="javascript:settleAccounts()">
		          </td>
		        </tr>
		      </tbody>
		    </table>
	   	</td>
	  </tr>

  	 <tr>
       <td>
	    	<form id="buycart" name="buycart" action="" method="post">
	     		<input type="hidden" name="directUrl" value="$!{directUrl}">
		    	<table cellSpacing=0 cellPadding=6 width="100%" border=0> 
			      <tr bgColor=#d7ebff>
			        <td width="457"><strong>我的购物车里的商品--马上购买</strong></td>
			        <td width=112><div align=center><strong>市场价</strong></div></td>
			        <td width=181><div align=center><strong>价格</strong></div></td>
			        <td width=73><div align=center><strong>数量</strong></div></td>
			        <td width=66>&nbsp;</td>
			      </tr>
		      
				<!-- loop begin -->
					#foreach($item in ${cart.items})
				       <tr valign="top">
				        <td><strong><a href="" target="_blank">${item.product.name}</a></strong> <span class="h3color">[颜色/样式：${item.product.getStyle().name} ]</span><br><br></td>
				        <td width="112" align="center"><span class="price" title="￥${item.product.marketprice}元"><font color="black"><s><b>￥${item.product.marketprice}元</b></s></font></span></td>
				        <td width="181"><p align="center"><span class="price"><B>￥${item.product.sellprice} 元</B></span> <br>
				          为您节省：<span class=price>￥${item.product.savedPrice()}元 </span><br> </p></td>
				        <td align="middle" width="73"><input type="text" style="width: 30px" maxLength="3" value="${item.amount}"  name="amount_${item.product.id}_${item.product.getStyle().id}" onkeypress="javascript:InputIntNumberCheck()"></td>
				        <td align="middle" width="66"><a href="/cart/delete.do?buyitemid=${item.product.id}-${item.product.getStyle().id}"><img height="17" src="/images/buy/delete.gif" width="45" border="0"></a></td>
				      </tr>
				      <tr valign="top">
				        <td colSpan="5"><img height=1 src="/images/buy/green-pixel.gif" width="100%" border="0"></td>
				      </tr>
				    #end
				<!-- loop end -->	  
	   	 		</table>
	   	 	</form>
	   	 	
	   	 	
	   	 	<table width="96%" border="0" align="left">
			        <tr>
				          <td width="60%" align="right">如果您修改了商品数量，请点击
				          	<img style="CURSOR:hand;" alt="修改数量" src="/images/buy/update-t-sm.gif" value="修改数量" border="0" onClick="javascript:modifyAmount()">
				          </td>
				          <td width="9%" align="right">
				          	<div align="right">
				          		<span class="price"><strong><font color="black">共计:</font></strong></span>
				          	</div>
				          </td>
				          <td width="11%" align="right">
				          	<div align="center">
				          		<span class="price"><strong><font color="black"> ${cart.getTotalSellPrice()}元</font></strong></span>
				          	</div>
				          </td>
				          <td width="8%" align="right">
				          	<div align="right">
				          		<span class="price"><strong><font color="black">节省:</font></strong></span>
				          	</div>
				          </td>
				          <td width="12%" align="right">
				          	<div align="center">
				          		<span class="price"><strong> ${cart.getTotalSavePrice()}元</strong></span>
				          	</div>
				          </td>
			        </tr>
			        <tr>
			          <td colspan="3" align="right">&nbsp;</td>
			          <td colspan="2" align="right">
			          	<img style="cursor;" src="/images/buy/az-by-split.gif" width="116" height="22" onClick="javascript:settleAccounts()">
			          </td>
			        </tr>
		     </table>
	   	 	
	   	 	
		  </td>
  	</tr>
</table>
<br>
	#parse("page/share/Foot.vm")
</body>
</html>
