<HTML>
<HEAD>
<META http-equiv="pragma" content="no-cache">
<META http-equiv="Cache-Control" content="no-cache, must-revalidate">
<META http-equiv="expires" content="Wed, 26 Feb 2006 08:21:57 GMT">
<META http-equiv="Content-TYPE" content="text/html; charset=UTF-8">
<link href="/css/global/address.css" rel="stylesheet" type="text/css">
<link href="/css/global/bottom.css" rel="stylesheet" type="text/css">
<TITLE>随心购：结算中心：填写收货地址</TITLE>
<SCRIPT language=JavaScript src="/js/FoshanRen.js"></SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
	function getradiovalue(objradio){
			for(var i=0;i<objradio.length;i++){
				if(objradio[i].checked){
					return objradio[i].value;
				}
			}
			return "";
	}
	
	function buyerinfoSelect(issame){
		if("true"==issame){
			document.getElementById('buyerinfoInput').style.display="none";
		}else{
			document.getElementById('buyerinfoInput').style.display="";
		}
	}
	//email验证
	function isValidEmail(inEmail){
		var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		return filter.test(inEmail);
	}
	/**
	* FormField类,描述表单字段,第一个参数为字段的name属性值,第二个参数为字段的中文名
	*/
	function FormField(fieldName, fieldLabel){
		this.fieldName = fieldName;
		this.fieldLabel = fieldLabel;
	}
	//验证表单数据
	function validateFormData(){
		var form = document.forms[0];
		var fields = new Array(new FormField("recipients","收货人姓名"), new FormField("address","收货人地址"),
						new FormField("email","电子邮件"), new FormField("postcode","邮政编码"));
		for(var i=0;i<fields.length;i++){
			var field = eval("form."+ fields[i].fieldName);
			if(field.value.trim()==""){
				alert(fields[i].fieldLabel+ " 不能为空");
				return false;
			}
		}
		if(getradiovalue(form.gender)==""){
			alert("请选择收货人的性别");
			return false;
		}		
		if(!isValidEmail(form.email.value)){
			alert("收货人的email格式不正确");
			return false;
		}
		if(!/^\d{6}$/.test(form.postcode.value.trim())){
			alert("收货人的邮政编码必须是6位数字");
			return false;
		}
		if(form.mobile.value.trim()!=""){
			if(!/^1[35]\d{9}$/.test(form.mobile.value.trim())){
				alert("收货人的手机号格式不正确");
				return false;
			}
		}
		form.tel.value = "";
		if(form.maintel.value.trim()!=""){
			if(/^\d{7,8}$/.test(form.maintel.value.trim())){
				form.tel.value = form.forepart.value+"-"+ form.maintel.value;
				if(form.extension.value.trim()!="") form.tel.value += "-"+ form.extension.value;
			}else{
				alert("收货人的电话号码至少7位");
				return false;
			}
		}
	
		if(form.tel.value=="" && form.mobile.value.trim()==""){
			alert("收货人的手机和电话至少有一项必填");
			return false;
		}
		
		if(getradiovalue(form.buyerIsrecipients)=="false"){
			var buyerfields = new Array(new FormField("buyer","购买者的姓名"), new FormField("buyer_address","购买者的地址"),
						new FormField("buyer_postcode","购买者的邮政编码"));
						alert("hello huang");
			for(var i=0;i<buyerfields.length;i++){
				var buyerfield = eval("form."+ buyerfields[i].fieldName);
				if(buyerfield.value.trim()==""){
					alert(buyerfields[i].fieldLabel+ " 不能为空");
					return false;
				}
			}
			if(getradiovalue(form.buyer_gender)==""){
				alert("请选择购买者的性别");
				return false;
			}			
			form.buyer_tel.value = "";
			if(/^\d{7,8}$/.test(form.buyer_maintel.value.trim())){
				form.buyer_tel.value = form.buyer_forepart.value+"-"+ form.buyer_maintel.value;
				if(form.buyer_extension.value.trim()!="") form.buyer_tel.value += "-"+ form.buyer_extension.value;
			}
			if(form.buyer_tel.value=="" && form.buyer_mobile.value.trim()==""){
				alert("购买者的手机和电话至少有一项必填");
				return false;
			}
		}
		return true;
	}
	
	function sendForm(){
		var form = document.forms[0];
		if(validateFormData()) form.submit();
	}

	function pageinit(){
		initPhone();
		showBuyInfo();
	}
	
	function showBuyInfo(){
		var form = document.forms[0];
		if(getradiovalue(form.buyerIsrecipients)=="false") 
			document.getElementById('buyerinfoInput').style.display="";
	}
	
	function initPhone(){
		var form = document.forms[0];
		var phone = form.tel.value;
		if(phone!=""){
			var tels = phone.split("-");
			if(tels.length>=2){
				form.forepart.value = tels[0];
				form.maintel.value = tels[1];
				if(tels.length==3) form.extension.value = tels[2];
			}
		}
		var buyerphone = form.buyer_tel.value;
		if(buyerphone!=""){
			var tels = buyerphone.split("-");
			if(tels.length>=2){
				form.buyer_forepart.value = tels[0];
				form.buyer_maintel.value = tels[1];
				if(tels.length==3) form.buyer_extension.value = tels[2];
			}
		}
	}
</SCRIPT>

<META content="MSHTML 6.00.2900.2769" name="GENERATOR">
</HEAD>
<body>
<form action="/customer/shopping/savedeliverinfo.do" method="post">
	<input type="hidden" name="directUrl" value="$!{directUrl}">
	<table cellSpacing=0 cellPadding=0 align="center" border=0>
	  <tbody>
		  <tr>
		    <td><img src="/images/global/logo.jpg" border=0 width="249" height="32">   &nbsp;&nbsp;<img height=36 src="/images/buy/az-s-checkout-shipping-bann.gif" > </td>
		  </tr>
	  </tbody>
	</table>
	<br>

	<table cellSpacing=0 cellPadding=0 width="90%" align=center border=0>
  		<tbody>
  			<tr>
    			<td>
      				<table cellSpacing=1 cellPadding=1 width="100%" bgColor=#eeeecc border=0>
				        <tbody>
					        <tr>
					          <td bgColor="#ffffff">
					            <table cellSpacing=0 cellPadding=4 width="100%" border=0>
					              <tbody>
						              <tr bgColor="#eeeecc">
						                <td><strong><span class=h1><strong>请输入配送地址</strong>:</span></strong></td>
						                <td bgColor="#eeeecc">&nbsp;</td>
						              </tr>
					              </tbody>
					            </table>
					          </td>
					        </tr>
				        </tbody>
      				</table>
      			<div id="cndivaddress">
      				<table cellSpacing=1 cellPadding=4 width="100%" border=0>
        				<tbody>
					        <tr>
					          <td colSpan=2>&nbsp;</td>
					        </tr>
					        <tr>
					          <td width=214>
					            <div align="right">收货人姓名<span id="NameLable"></span>：</div>
					          </td>
					          <td>
					             <input type="text" name="recipients" size="30" maxlength="8" value="$!deliverinfo.recipients"/><font color="#ff0000">*</font>&nbsp;
					             <input type="radio" name="gender" value="MAN" #if($deliverinfo.gender=='MAN')checked #end/>先生 <input type="radio" name="gender" value="WOMEN" #if($deliverinfo.gender=='WOMEN')checked #end/>女士
					          </td>
					        </tr>
					        <tr>
					          <td height="27">
					            <div align="right">收货人地址<span id="AddressLable"></span>： </div></td>
					          <td><input type="text" name="address" size="60" maxlength="100" value="$!deliverinfo.address"/><FONT color="#ff0000">*</FONT></td>
					        </tr>
					        <tr>
					          <td height="27">
					            <div align="right">电子邮件<span id="EmailLable"></span>：</div>
					          </td>
					          <td><input type="text" name="email" size="30" maxlength="45" value="$!deliverinfo.email"/><font color="#ff0000">*</font></td>
					        </tr>
					        <tr>
					          <td height="27">
					            <div align="right">邮政编码<span id="PostalcodeLable"></span>：</div>
					          </td>
					          <td>
					          	  <input type="text" name="postcode" size="20" maxlength="6" value="$!deliverinfo.postcode"/><font color="#ff0000">*</font> 
					              <font color="#484848">请正确填写邮政编码，以免延误您的订单送达时间。不知道邮编？
					              <a href="http://www.cpdc.com.cn/webmodules/postcode/CPDC_03G01.aspx" target="_blank">请进这里查询</a></font>
					          </td>
					        </tr>
					        <tr>
					          <td>
					          	  <input type="hidden" name="tel" value="$!deliverinfo.recipients">
					              <div align=right>电话<span id="TelLable"></span>：</div>
					          </td>
					          <td>
						          	<table width="30%" border="0" cellpadding="0" cellspacing="2">
							            <tr>
							              <td><input value="010" size="4" name="forepart" maxlength="4" onkeypress="javascript:InputIntNumberCheck()"></td>
							              <td><input name="maintel" size="8" maxlength="8" onkeypress="javascript:InputIntNumberCheck()"></td>
							              <td><input name="extension" size="4" maxlength="4" onkeypress="javascript:InputIntNumberCheck()"></td>
							            </tr>
							            <tr>
							              <td><span class="STYLE1">区号</span></td>
							              <td><span class="STYLE1">电话号码</span></td>
							              <td><span class="STYLE1">分机</span></td>
							            </tr>
						            </table>
					          </td>
					        </tr>
					        <tr>
						          <td>
						            <div align=right>手机<span id="MobileLable"></span>：</div>
						          </td>
						          <td>
						          	<input type="text" name="mobile" size="20" maxlength="15" value="$!deliverinfo.mobile"/>
									<font color="#484848">（手机和电话至少有一项必填）</font>
							      </td>
						    </tr>
					        <tr>
					          <td>
					            <div align="right">购买人与收货人是否相同<font color="#ff0000">*</font>：</div>
					          </td>
					          <td>
					          	<input type="radio" name="buyerIsrecipients" value="true" onclick="javascript:buyerinfoSelect(this.value)" #if($deliverinfo.buyerIsrecipients)checked #end/> <b>相同</b>
							  	<input type="radio" name="buyerIsrecipients" value="false" onclick="javascript:buyerinfoSelect(this.value)" #if(!$deliverinfo.buyerIsrecipients)checked #end/> <b>不相同</b> 
							  </td>
					        </tr>
					        <tr id="buyerinfoInput" style="display: none">
					          	  <td></td>
						          <td nowrap>
								          <div class="OkMsg" >
												  	<table cellSpacing="0" cellPadding="0" width="100%" border="0">
											            <tr>
											              <td align="right" height="25"><FONT color="#f47a22">*</FONT> 购买者姓名：</td>
											              <td align="left"><input type="text" name="buyer" size="30" maxlength="8"/>
											              &nbsp;<input type="radio" name="buyer_gender" value="MAN"/>先生 <input type="radio" name="buyer_gender" value="WOMEN"/>女士
											              </td>
											            </tr>
											            <tr>
											              <td align="right" height="25"><FONT color="#f47a22">*</FONT> 详细地址：</td>
											              <td align="left"><input type="text" name="buyer_address" size="60" maxlength="100"/></td>
											            </tr>
											            <tr>
											              <td align="right" height="25"><FONT color="#f47a22">*</FONT> 邮政编码：</td>
											              <td>
											                  <table cellSpacing="0" cellPadding="0" border="0">
												                  <tr>
												                    <td align="left" height="20"><input type="text" name="buyer_postcode" size="20" maxlength="6"/>
												                    </td>
												                    <td align="left">&nbsp;&nbsp;<font color="#484848">请正确填写邮政编码，以免延误您的订单送达时间。</font> </td>
												                  </tr>
											                	</table>
											               </td>
											            </tr>
										            	<tr>
										              		<td align="right" height="25"><FONT color="#f47a22">*</FONT> 电话：</td>
										              		<td>
										              			<table cellSpacing="0" cellPadding="0" border="0">
												                  <tr>
												                    <td align="left" colSpan="3"><input type="text" name="buyer_mobile" size="20" maxlength="15"/></td>
												                    <td height="25">&nbsp;移动电话</td>
												                  </tr>
												                  <tr>
												                  	<input type="hidden" name="buyer_tel">
																	<td><input value="010" size="4" name="buyer_forepart" maxlength="4" onkeypress="javascript:InputIntNumberCheck()"></td>
																	<td><input name="buyer_maintel" size="8" maxlength="8" onkeypress="javascript:InputIntNumberCheck()"></td>
																	<td><input name="buyer_extension" size="4" maxlength="4" onkeypress="javascript:InputIntNumberCheck()"></td>
												                    <td height="25">&nbsp;固定电话</TD>
												                  </tr>
												                  <tr>
												                    <td align="center"><font color="#484848">区号</font></td>
												                    <td align="center"><font color="#484848">电话</font></td>
												                    <td align="center"><font color="#484848">分机</font></td>
												                    <td>&nbsp;</td>
												                  </tr>
										                		</table>
										                	</td>
										            	</tr>
										            	<tr>
											              <td height="20">&nbsp;</td>
											              <td align="left"> <font color="#484848">（请留下您的联系电话，必要时，我们会通过电话向您确认相关信息。）</font></td>
											            </tr>
										          	</table>
								          </div>
								  </td>
					        </tr>
					        <tr>
					          <td colSpan=2 align="center"><img onClick="javascript:sendForm()" src="/images/buy/az-sfl-shipping-to-this-boo.gif" vspace=5 border=0 style="CURSOR: hand;"></td>
					        </tr>
					</tbody>
				</table>
			</div>
      	</td>
      </tr>
     </tbody>
   </table>
</form>

</body>
</HTML>