<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<mapper resource="com/huang/mapper/ProductType.xml"/>
		<mapper resource="com/huang/mapper/Brand.xml"/>
		<mapper resource="com/huang/mapper/UploadFile.xml"/>
		<mapper resource="com/huang/mapper/Product.xml"/>
		<mapper resource="com/huang/mapper/ProductStyle.xml"/>
		<mapper resource="com/huang/mapper/ContactInfo.xml"/>
		<mapper resource="com/huang/mapper/Buyer.xml"/>
	</mappers>
</configuration>