#set($path="http://localhost:8080/shop")
<html>
<head>
<title>修改产品样式</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="$path/css/vip.css" type="text/css">
<SCRIPT language=JavaScript src="$path/js/FoshanRen.js"></SCRIPT>
<script language="JavaScript">
	function checkfm(form){
		var logofile = form.logofile.value;
		if (trim(form.name.value)==""&&logfile==""){
		    alert("请至少修改一项");
			form.name.focus();
			return false;
		}
		if(trim(logofile)!=""){
			var suff = logofile.substring(logofile.length-3).toLowerCase();
			if(suff!="jpg"&&suff!="gif"&&suff!="bmp"&&suff!="png"){
				alert("只允许上传gif、jpg、bmp、png格式的图片!");
				return false;
			}
		}
		return true;
	}
</script>
</head>
<body bgcolor="#FFFFFF" text="#000000" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<form action="$path/controller/productstyle/edit.do" method="post" enctype="multipart/form-data"  onsubmit="return checkfm(this)">
    <input type="hidden" name="id" value="$!{result.id}"/>
    <input type="hidden" name="productid" value="$!{result.product.id}"/>
    <br>
  <table width="90%" border="0" cellspacing="2" cellpadding="3" align="center">
    <tr bgcolor="6f8ac4">
        <td colspan="2"><font color="#FFFFFF">修改产品图片：</font></td>
    </tr>
    <tr bgcolor="f5f5f5"> 
      <td width="22%"><div align="right">样式名称：</div></td>
      <td width="78%">
        <input type="text" name="name" size="50" maxlength="50" value="${result.name}">
        <font color="#FF0000">*</font>
      </td>
    </tr>
	<tr bgcolor="f5f5f5"> 
      <td width="22%"><div align="right">产品图片：</div></td>
      <td width="78%"> 
         <input type="file" name="imagefile" size="50">
      </td>
    </tr>	
    <tr bgcolor="f5f5f5"> 
      <td width="22%"><div align="right">原图片：</div></td>
      <td width="78%"> 
         <img src="$path$result.getFullImagePath()" width="100" height="50" border="0">
      </td>
    </tr>
    <tr bgcolor="f5f5f5"> 
      <td colspan="2">
        <div align="center"> 
          <input type="submit" name="SYS_SET" value=" 确 定 " class="frm_btn">
        </div>
      </td>
    </tr>
  </table>
</form>
<br>
</body>
</html>