#set($path="http://localhost:8080/shop")
<html>
<head>
<title>产品管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="$path/css/vip.css" type="text/css">
<script language="JavaScript">

	function toPage(p){
		var form = document.forms[0];
		form.currentPage.value=p;
		form.submit();
	}

    function querylink(){
    	window.location="$path/product/queryUI.do"
    }
    
    function allselect(allobj,items){
		var state = allobj.checked;
		if(items.length>1){
			for(var i = 0;i<items.length;i++){
		    	if(!items[i].disabled)items[i].checked = state;
			}
		}else{
 				if(!items.disabled)items.checked = state;
		}
	}
	
	function toaction(uri){
	    var form = document.forms[0];
	    if(validatecheckbox(form.productids)){
	    	form.action=uri;
	    	form.submit();
		}else{
 			alert("请选择");
		}
	}
	
	function validatecheckbox(items){
	    if(items.length>1){
	    	for(var i = 0;i<items.length;i++){
	    		if(items[i].checked) return true;
	    	}
	    }else{
	    	if(items.checked) return true;
	    }
	    return false;
	}
	
	
	
</script>
<script language=JavaScript src="$path/js/FoshanRen.js"></script>
</head>

<body bgcolor="#FFFFFF" text="#000000" marginwidth="0" marginheight="0">
	<form action="$path/product/list.do" method="get">
	<input type="hidden" name="currentPage"/>
	<input type="hidden" name="query" value="$!{pro.query}"/>
	<input type="hidden" name="name" value="$!{pro.name}"/>
	<input type="hidden" name="typeid" value="$!{pro.typeid}"/>
	<input type="hidden" name="startsellprice" value="$!{pro.startsellprice}"/>
	<input type="hidden" name="endsellprice" value="$!{pro.endsellprice}"/>
	<input type="hidden" name="startbaseprice" value="$!{pro.startbaseprice}"/>
	<input type="hidden" name="endbaseprice" value="$!{pro.endbaseprice}"/>
	<input type="hidden" name="code" value="$!{pro.code}"/>
	<input type="hidden" name="brandid" value="$!{pro.brandid}"/>
 	<table width="98%" border="0" cellspacing="1" cellpadding="2" align="center">
	    <tr>
	    	<td colspan="11"  bgcolor="6f8ac4" align="right">
	        总记录数${page.totalCount} | 总页数${page.totalPage} |
	        #if($page.hasPrePage)
	        <a href='javascript:toPage(${page.getPrePage()})'>上一页</a>
	        #end
	        当前第${page.currentPage}页
	        #if($page.hasNextPage)
	        <a href='javascript:toPage(${page.getNextPage()})'>下一页</a>
	        #end
	        </td>
	    </tr>
	    <tr>
	      <td width="5%" bgcolor="6f8ac4"> <div align="center"><font color="#FFFFFF">选择</div></td>
	      <td width="5%" bgcolor="6f8ac4"> <div align="center"><font color="#FFFFFF">产品ID</font></div></td>
	      <td width="10%" bgcolor="6f8ac4"> <div align="center"><font color="#FFFFFF">货号</font></div></td>
	      <td width="5%"  bgcolor="6f8ac4"> <div align="center"><font color="#FFFFFF">修改</font></div></td>
	      <td width="15%" bgcolor="6f8ac4"> <div align="center"><font color="#FFFFFF">产品名称</font></div></td>
	      <td width="10%" bgcolor="6f8ac4"> <div align="center"><font color="#FFFFFF">所属分类</font></div></td>
	      <td width="8%" bgcolor="6f8ac4"> <div align="center"><font color="#FFFFFF">底价</font></div></td>
	      <td width="8%" bgcolor="6f8ac4"> <div align="center"><font color="#FFFFFF">销售价</font></div></td>
	      <td width="8%" bgcolor="6f8ac4"> <div align="center"><font color="#FFFFFF">是否在售</font></div></td>
	      <td width="8%" bgcolor="6f8ac4"> <div align="center"><font color="#FFFFFF">是否推荐</font></div></td>
	      <td width="8%" bgcolor="6f8ac4"> <div align="center"><font color="#FFFFFF">产品样式</font></div></td>
	    </tr>
	    
	    #foreach($productinfo in $result)
	    <tr> 
	    	  <td bgcolor="f5f5f5">
		      	  <div align="center"><input type="checkbox" name="productids" value="${productinfo.id}"></div>
		      </td>
		      <td bgcolor="f5f5f5"><div align="center">${productinfo.id}</div></td>
		      <td bgcolor="f5f5f5"><div align="center">${productinfo.code}</div></td>
		      <td bgcolor="f5f5f5"><div align="center"><a href="$path/product/editUI.do?productid=${productinfo.id}">
			  <img src="$path/images/edit.gif" width="15" height="16" border="0"></a></div></td>
		      <td bgcolor="f5f5f5"><div align="center">${productinfo.name}</div></td>
		      <td bgcolor="f5f5f5"><div align="center">${productinfo.type.name}</div></td>
		      <td bgcolor="f5f5f5"><div align="center">${productinfo.baseprice}</div></td>
		      <td bgcolor="f5f5f5"><div align="center">${productinfo.sellprice}</div></td>
		      <td bgcolor="f5f5f5"><div align="center">#if(${productinfo.visible})在售#else停售#end</div></td>
		      <td bgcolor="f5f5f5"><div align="center">#if(${productinfo.commend})推荐#else--#end</div></td>
		      <td bgcolor="f5f5f5"><div align="center"><a href="$path/productstyle/list.do?productid=${productinfo.id}">产品样式管理</a></div></td>
		 </tr>
	     #end
	      
	      
	      <tr>
	       <td bgcolor="f5f5f5" colspan="11" align="center">
	        <table width="100%" border="0" cellspacing="1" cellpadding="3">
	          <tr> 
	            <td width="10%"><input type="checkbox" name="all" onclick="javascript:allselect(this,this.form.productids)">全选</td>
	            <td width="90%">
	              <input type="button" class="frm_btn" id="AddDic" onClick="javascript:window.location.href='$path/product/addUI.do'" value="添加产品"/> &nbsp;&nbsp;
				  <input type="button" class="frm_btn" id="query" onClick="javascript:querylink()" value=" 查 询 "/> &nbsp;&nbsp;
				  <input type="button" class="frm_btn" id="query" onClick="javascript:toaction('$path/product/visible.do')" value=" 上 架 "/> &nbsp;&nbsp;
				  <input type="button" class="frm_btn" id="query" onClick="javascript:toaction('$path/product/disvisible.do')" value=" 下 架 "/> &nbsp;&nbsp;
				  <input type="button" class="frm_btn" id="query" onClick="javascript:toaction('$path/product/commend.do')" value=" 推荐 "/> &nbsp;&nbsp;
				  <input type="button" class="frm_btn" id="query" onClick="javascript:toaction('$path/product/discommend.do')" value=" 不推荐 "/> &nbsp;&nbsp;
	            </td>
	          </tr>
	        </table>
	      </td>
	    </tr>
	  </table>
      </form>
</body>
</html>