<div id="Head">
	  <div id="HeadTop">
	    <div id="Logo"><a href="" target=_top><img alt=中国最大、最安全的户外用品、体育用品网上交易平台！ src="/images/global/logo.jpg" border=0 width="249" height="32"/></a> </div>
	    <div id="HeadNavBar">
	      <ul>
	        <li class="NoSep"><a id="MyBuyCar"  href="/cart/add.do" ><font color="blue"><Strong>购物车</Strong></font></a> </li>
	        <li><a href="/user/regUI.do" >新用户注册</a> </li>
	        <li><a href="/user/loginUI.do" >用户登录</a> </li>
	        <li><a href="">帮助中心</a> </li>
	        <li class="phone">热线：18817350871</li>
	      </ul>
	    </div>
	  </div>
	  <div id="ChannelMenu">
		<UL id="ChannelMenuItems">
			<LI id="MenuHome"><a href=""><span>首页</span></a></LI>
			<LI id="ProducType1Home"><a href=""><span>瑜珈用品</span></a></LI>
			<LI id="ProducType2Home"><a href=""><span>户外用品</span></a></LI>
			<LI id="ProducType3Home"><a href=""><span>健身器材</span></a></LI>
			<LI id="ProducType8Home"><a href=""><span>运动鞋</span></a></LI>
			<LI id="MyAccountHome"><a href=""><span>我的账户</span></a></LI>
		</UL>
		<div id="SearchBox">
			  <div id="SearchBoxTop">
				  <div id="SearchForm">
					<form action="/product/query.do" method="post" name="search" id="search">
					  <span class="name">商品搜索: </span>
					  <input id="word" name="word" accesskey="s" size="100" maxlength="100"/>
					  <input type="submit" value="搜 索" id="DoSearch"/>
					</form>
				  </div>
			  </div>
      		  <div id="HotKeywords">
					<ul>
						<li>
							<span>
							2008年07月29日&nbsp;&nbsp;您好<SCRIPT language=JavaScript src="/js/welcome.js"></SCRIPT>，欢迎来到****网！
							</span>
						</li>
						<li>热门搜索：</li>
						<li><a href="">帐篷</a></li>
						<li><a href="">瑜伽球</a></li>
						<li><a href="">远阳瑜伽服</a></li>
					</ul>
      		  </div>
         </div>
       </div>
</div>
