<html>
<head>
<title>部门显示</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="/css/vip.css" type="text/css">
<script language="JavaScript">
	//到指定的分页页面
	function toPage(p){
		var form = document.forms[0];
		form.currentPage.value=p;
		form.submit();
	}
</script>
<SCRIPT language=JavaScript src="/js/FoshanRen.js"></SCRIPT>
</head>

<body bgcolor="#FFFFFF" text="#000000" marginwidth="0" marginheight="0">
<form action="/controller/department/list.do" method="get">
<input type="hidden" name="currentPage"/>
  <table width="98%" border="0" cellspacing="1" cellpadding="2" align="center">
    <tr>
	    	<td colspan="7"  bgcolor="6f8ac4" align="right">
	        总记录数${page.totalCount} | 总页数${page.totalPage} |
	        #if($page.hasPrePage)
	        <a href='javascript:toPage(${page.getPrePage()})'>上一页</a>
	        #end
	        当前第${page.currentPage}页
	        #if($page.hasNextPage)
	        <a href='javascript:toPage(${page.getNextPage()})'>下一页</a>
	        #end
	        </td>
	</tr>
    <tr>
      <td width="30%" bgcolor="6f8ac4"> <div align="center"><font color="#FFFFFF">代号</font></div></td>
      <td width="8%" nowrap bgcolor="6f8ac4"> <div align="center"><font color="#FFFFFF">修改</font></div></td>
      <td bgcolor="6f8ac4"> <div align="center"><font color="#FFFFFF">名称</font></div></td>
      <td width="10%" bgcolor="6f8ac4"></td>
    </tr>
<!---------------------------LOOP START------------------------------>
#foreach($department in $result)
    <tr>
      <td bgcolor="f5f5f5"> <div align="center">${department.departmentid}</div></td>
      <td bgcolor="f5f5f5"> 
      	<div align="center">
	      	<a href="/controller/department/editUI.do?departmentid=${department.departmentid}">
		  		<img src="/images/edit.gif" width="15" height="16" border="0">
		  	</a>
	  	</div>
	  </td>
      <td bgcolor="f5f5f5"> <div align="center">${department.name}</div></td>
      <td bgcolor="f5f5f5"> 
      	 <div align="center">
             <a href="/controller/department/delete.do?departmentid=${department.departmentid}">删除</a>
         </div>
      </td>
	</tr>
#end
    <!----------------------LOOP END------------------------------->
    <tr> 
      <td bgcolor="f5f5f5" colspan="4" align="center"><table width="100%" border="0" cellspacing="1" cellpadding="3">
          <tr> 
            <td width="5%"></td>
              <td width="85%">
              <input type="button" class="frm_btn" onClick="javascript:window.location.href='/controller/department/addUI.do'" value="添加部门"> &nbsp;&nbsp;
            </td>
          </tr>
        </table></td>
    </tr>
  </table>
</form>
</body>
</html>