#set($path="http://localhost:8080/shop")
<html>
<head>
<title>网站业务系统-管理平台</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<frameset framespacing="0" border="0" rows="60,*,15" frameborder="0">
  <frame name="banner" scrolling="no" noresize target="contents" src="$path/center/top.do" marginwidth="0" marginheight="0">
  <frameset cols="168,*">
    <frame name="menuframe" target="mainframe" src="$path/center/left.do" scrolling="no" marginwidth="0" marginheight="0">
    <frame name="mainframe" scrolling="auto" noresize src="$path/center/right.do" marginwidth="0" marginheight="0">
  </frameset>
  <frame name="menuframe" target="mainframe" src="$path/center/end.do" scrolling="no" marginwidth="0" marginheight="0">
</frameset><noframes></noframes>
</html>